@import url('https://fonts.googleapis.com/css?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html{
  box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;   
}
body{
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  color: black;
  font-weight: normal;
  line-height: 26px;
  background-color: #E5E5E5;
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;   
}
.welcome-page__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-page__header{
  margin-top: 57px;
  margin-left: 85px;
  margin-right: 85px;
}
.welcome-page__menu-lst{
  display: flex;
}
.welcome-page__menu-item{
  margin-right: 42px;
}
.welcome-page__menu-item:last-child{
  margin-right: 0px;
}
.welcome-page__menu-lnk:hover,.welcome-page__menu-lnk:focus,.welcome-page__menu-lnk:active{
  color:#34547A;  
}
.welcome-page__menu-lnk{
  color:black;
  text-decoration: none;
}
.welcome-page__stamp {      
  font-family: Revalia;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  color: #34547A;         
}
.welcome-page__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-page__content{
  margin-top: 161px;
  margin-left: 85px;
  margin-right: 85px;
  

}
.welcome-page__desc-lst{
  display: flex; 
  flex-direction: column; 
}
.welcome-page__desc-item{
  margin-bottom: 60px;
  margin-left: 131px;  
}
.welcome-page__title{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}
button {
  background-color: #34547A; /* Green */
  border: none;
  color: white;
  padding: 25px 41px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media screen and (max-width: 1279px){
  body{    
    font-size: 16px;
    line-height: 19px;
    align-items: center;
  } 
  /*.wrapper{    
    max-width: 375px;
    margin: 0 10;    
  } */
  .welcome-page__header{
    flex-direction: column;
  }
  .welcome-page__menu{
    visibility: hidden;
  }
  .welcome-page__title{    
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
  }  
  .welcome-page__content{
    flex-direction: column;
  }
  /*.welcome-page__header{
    margin-top: 22px;
    margin-left: 19px;
    margin-right: 19px;
  } 
  .welcome-page__img{
    width: 298px;
  }  
  .welcome-page__desc{
    margin-top: 51px;
  }*/
  .welcome-page__desc-item{    
    margin: auto;
    /*margin-bottom: 40px;
    margin-left: 26px;
    margin-right: 27px;*/ 
  }
  /*.welcome-page__content{
    margin-top: 67px;
    margin-left: 26px;
    margin-right: 27px;
  }*/    
}
